.folded {
  border-top: 2px #ffffff solid;
  margin: 20px 0;
}

.about > h1 {
  margin-bottom: 10px;
  width: 85%;
}

.about > h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  width: 85%;
}

.folded > h2 {
  margin: 10px 0;
}

.folded > p {
  width: 85%;
}

.folded > p > li {
  margin: 5px 0;
}
