.app {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.about {
  width: 60vw;
  margin: 20px;
  padding: 20px;
}
.tinder {
  max-width: 450px;
  /* width: 25vw; */
  min-width: 375px;
  padding: 20px;
  margin: auto;
  margin-top: 0;
  margin-right: 20px;
  overflow-y: hidden;
}

@media only screen and (max-width: 850px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about {
    display: none;
  }
  .tinder {
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
  }
}
